<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'img/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <h1>Signup</h1>
        
          {% for message in messages %}
          <p
            style="
              text-align: center;
              color: black;
              margin-top: -12px;
              border: 2px solid yellow;
              background: white;
            "
            id="messages"
          >
            {{message}}
          </p>
          {% endfor %}<form method="post"> {% csrf_token %}
          <div class="inputbox">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter Name:"
            />
          </div>
          <div class="inputbox">
            <input type="email" name="email" placeholder="Email:" />
          </div>
          <div class="inputbox">
            <input type="password" name="password" placeholder="Password:" />
          </div>
          <div class="inputbox">
            <input
              type="password"
              name="repeat_password"
              placeholder="Repeat Password:"
            />
          </div>
          <div class="inputbox">
            <input
              style="color: black"
              type="submit"
              value="Signup"
              name="submit"
            />
          </div>
        </form>
      </div>
      <div>
        <p>
          Already Registered
          <a
            href="{% url 'login' %}"
            style="text-decoration: none; color: white; float: left"
            >Login Here</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
